*{
    margin:0;
    padding:0;
 }

body{
  height: auto;
  width: auto;
}
#titleBox{
  background-color: #f42222;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#inputs{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input{
  margin-left: 30px;
  border-radius: 5px;
  background-color: white;
  padding: 3px 10px;

}
.title{
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
  color: white;
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
}

.credits{
  font-family: 'Cabin Sketch', cursive;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

#divContainer{
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 3px;
  margin: 20px auto;
  box-shadow: 30px;
}
